---
layout: page
title: Employee Information
---

<div>
    <ul>
        <li>
          <a href="https://docs.google.com/spreadsheets/d/1L36OcPvzp4xnURIoflo_9p57dnuC-tQbnyY5rFQprBc/edit#gid=0"> Employee Contact Sheet </a>
        </li>
        <li>
          <a href="https://docs.google.com/document/d/1dwh1-1yIYU_nrookHCqFigSWoOiBwcsTvlIqBo_sBOU/edit?usp=sharing"> Policy Packet </a>
        </li>
        <li>
          <a href="https://docs.google.com/document/d/1jiT9odtBuVbloio5DtHhum6lk4M6J_1HkariIKeUOvM/edit?usp=sharing"> Tech Manual </a>
        </li>
        {% for post in site.employees %}
        <li>
            <a href="{{ post.url }}"> {{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<div>
  <h2>Checklists</h2>
</div>

<div>
  <ul>
    <li>
      <a href='https://docs.google.com/spreadsheets/d/1GkPeJplUNduh1B3nsb4nzj-vapGZj6iJ4z5FnaaMpsM/edit?usp=sharing'> SM Checklist </a>
    </li>
    <li>
      <a href='https://docs.google.com/spreadsheets/d/1QRQGXbWSvxHGOyZK6IFbfE_X-P5tS3P7mNYoaKLjtJg/edit?usp=sharing'> A1 Checklist </a>
    </li>
    <li>
      <a href='https://docs.google.com/spreadsheets/d/1n1T-gohFMwBP5DFhZOcFrKk51NUNTB8x0R1kbZ6bZyw/edit?usp=sharing'> LX Checklist </a>
    </li>
    <li>
      <a href='https://docs.google.com/spreadsheets/d/1_FCOvhxkn2aeYy364ePR93kLWU7vbe8lPRKZno3V238/edit?usp=sharing'> SL Checklist </a>
    </li>
    {% for post in site.checklists %}
    <li>
      <a href="{{ post.url }}"> {{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
