---
layout: default
title: Home
---
<h1>The Performance Hall's Code of Conduct</h1>

<p>
    The Performance Hall is committed to providing a welcoming and harassment-free
    environment for people of all races, sexual orientations, gender
    statuses, physical dispositions, and beliefs. We believe in having an
    archived and publicly available set of guidelines as a necessary and
    important part of attaining this type of environment. Please take a moment
    to read ours below.
</p>

<h2>Customer Service</h2>

<p>
    At the Logan Center, we maintain a high standard of client and patron
    service (both are our customers). The following bullet points are basic
    tips for interacting with patrons, talent, external crews, building staff,
    and anyone else who may be in the Logan Center.
</p>

<ul>
  <li>Always greet the client and patrons warmly and maintain a pleasant
    atmosphere</li>
  <li>Display sincere interest in helping the client and patrons</li>
  <li>Motivate other employees to be productive at all times, especially when
    others are in the space</li>
  <li>If you do not know the answer to a question, state that you do not know
    and that you will work on finding the answer. Bring the question to the
    appropriate person or group of people, and proceed from there. Always follow
    up to give an update on your efforts.</li>
  <li>ALWAYS BE POLITE to everyone, all the time, no matter what. This means
    coworkers, external crew, talent, support staff, patrons, supervisors,
    faculty, staff, strangers, etc.</li>
</ul>

<h2>Disability Sensitivity</h2>

<p>
    When speaking to people with disabilities, always use people-first language.
    Group designations are inappropriate because they do not reflect the
    individuality, equality or dignity of the person.
</p>

<ul>
  <li>Address the person with a disability directly, not their companion or
    caregiver. If they are using a wheelchair, kneel to speak with them at eye
    level.</li>
  <li>Instead of asking the person about their disability (which is illegal),
    ask “How may I assist you?”. Focus on their needs, not their disability.
  </li>
  <li>If for any reason a problem arises and the person with a disability cannot
    easily access the facility, please attempt to serve them with personalized
    service.</li>
  <li>Politely address and assist those with disabilities without being
    patronizing or demeaning.</li>
</ul>

<h2>Indicators of quality performance include</h2>

<ul>
  <li>Timely arrival for shifts</li>
  <li>Articulating clearly and listening to clients</li>
  <li>Maintaining professional attitude with clients and patrons at all times
    </li>
  <li>Making appropriate decisions and accepting consequences of actions</li>
  <li>Accurate interpretation of Logan Center policies and procedures</li>
</ul>

<h2>Questions, concerns, or feedback?</h2>

<p>
    We welcome your feedback on this and we thank you for working with us to
    make it a safe, enjoyable, and friendly experience for everyone who visits
    us. Contact us via phone (773-834-2385) or email (erinbrenner@uchicago.edu)
    if you have any questions, concerns or feedback.
</p>

<!---
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}/{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->
