---
layout: default
title: Home
---
<h1>Welcome to the Docs</h1>
<p>
    You've reached the home of the documents of concern for the employees of the Reva and David Logan Center's Performance Hall.
    Feel free to take your time browsing around.
</p>
<p>
    This is currently a work in progress, so documents will go up and may come
    down, and things will likely change quite frequently,
    but it will only get more helpful and thorough as time goes on.
</p>
<p>
  If there are other things you would like to see here email: hunterkorgel@uchicago.edu, kpmccornack@gmail.com
</p>

<!---
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}/{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->
