---
layout: page
title: Spaces and Drawings
---

<div>
  <h2>Performance Hall</h2>
</div>

<div>
  <ul>
    {% for post in site.spaces_hall %}
    <li>
      <a href="{{ post.url }}"> {{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
</div>

<div>
  <h2>Penthouse</h2>
</div>

<div>
  <ul>
    {% for post in site.spaces_penthouse %}
    <li>
      <a href="{{ post.url }}"> {{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
</div>

<div>
  <h2>201 - Film Screening Room</h2>
</div>

<div>
  <ul>
    {% for post in site.spaces_201 %}
    <li>
      <a href="{{ post.url }}"> {{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
