    <!-- Contact Section -->
    <section id="tech" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Tech</h2>
                <p>Want to use a genie without getting crushed? Working on your knot game?</br>
                Live by your checklists? Here is all that and lots of other miscellaneous wisdom. </p>
                </p>
                <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Tech</a>
            </div>
        </div>
    </section>
